@import url("header.css");

section{
    width: 100%;
    padding-top: 32px;
    padding-bottom: 32px;
}
section:nth-of-type(1){
    padding-top: 0;
    padding-bottom: 0;
}
.heroImg{
    width: 100%;
    background-image: url(img/lev_chen.jpg);
    background-size: cover;
    background-position: 50% 70%;
}
.contentDiv{
    /* width: 35%; */
    width: 320px;
    margin-left: calc(100% - 416px);
    padding: 32px;
    background-color: rgba(158, 38, 42, 0.9);
    color: #ffffff;
    transform: translate(0,8%);
    border-radius: 4px;
}
h1{
    font-weight: 100;
    font-size: 4em;
    padding: 0;
    margin: 0;
    margin-left: 32px;
    color:rgba(158, 38, 42, 1);
}
.contentDiv h1{
    margin-left: 0;
    color: #ffffff
}
.flexDiv{
    width: calc(100% - 64px);
    margin-left: 32px;
    margin-right: 32px;
    display: flex;
    justify-content: space-between;
}
.flexDiv div{
    width: 20vw;
    height: 20vw;
    margin-top: 32px;
    margin-bottom: 32px;
    /* background: darkgray; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    /* filter: drop-shadow(0 0 0 rgba(0,0,0,1)); */
    transition: transform 200ms ease-in-out 0s;
    cursor: pointer;
}
.flexDiv div:hover{
    transform: scale(1.05);
    /* filter: drop-shadow(4px 4px 4px rgba(0,0,0,.4)); */
}
section:nth-of-type(3){
    background-color: rgb(231, 231, 231);
}
section:nth-of-type(4){
    background-color: rgb(205, 205, 205);
}
@media screen and (max-width: 900px) {
    h1{
        font-size: 3rem;
        margin-left: 16px;
    }
    .contentDiv{
        width: 280px;
        margin-left: unset;
        margin-left: 50%;
        font-size: .9rem;
        transform: translate(-50%,8%)
    }
    .flexDiv{
        width: calc(100% - 32px);
        margin-left: 16px;
        margin-right: 16px;
    }
}